:root {
  /* Primary colors */
  --primary: #F48932;
  --secondary: #0FA157;

  /* Tertiary colors */
  --tertiary-pri: #FDE416;
  --tertiary-sec: #F9B824;

  /* Accent colors */
  --accent-pri: #95BC2D;
  --accent-sec: rgba(169, 208, 68, 0.4);

  /* Maroon colors */
  --maroon-pri: #683023;
  --maroon-sec: #AB4721;
  --maroon-acc: #E8E4D1;

  /* Ash colors */
  --ash-pri: #363435;
  --ash-sec: #FFFFFF;
  --ash-acc: #AAA7A5;

  /* Brown colors */
  --brown-pri: #93642C;
  --brown-sec: #4E350D;
  --brown-acc: #D1C6AA;

  /* Lime colors */
  --lime-pri: #9FC94C;
  --lime-sec: #A1CA48;
  --lime-acc: #F4F3DC;

  /* Gold colors */
  --gold-pri: #EEC628;
  --gold-sec: #DBB51C;
  --gold-acc: #F4F3DB;
}


.bg-image {
  background-size: 100% 100%;
}

.typing-effect {
  overflow: hidden; /* Ensure text doesn't overflow */
  border-right: 0.15em solid var(--primary); /* Optional cursor effect */
  white-space: nowrap; /* Keep text on one line */
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0; /* Start with no text */
  }
  to {
    width: 100%; /* Full text visible */
  }
}

@keyframes blink-caret {
  from {
    border-color: transparent; /* Blink effect */
  }
  to {
    border-color: var(--primary);
  }
}

.triangle {
  width: 0; /* No width */
  height: 0px; /* No height */
  border-left: 380px solid transparent; /* Transparent left border */
  border-right: 480px solid transparent; /* Transparent right border */
  border-top: 160px solid var(--primary); /* Blue bottom border */
}

.triangle-wrapper {
  position: relative; /* Allows positioning of the triangle and text */
  text-align: center; /* Centers text horizontally */
}

.color-white {
  color: white;
}

.h-full-180 {
  height: calc(100vh - 180px); /* Calculated height */
}